<!-- Dropdown desktop structure -->
{% load i18n %}
<ul id="dd-informacion-desktop" class="dropdown-content">
    <li>
        <a href="{% url 'servicios' %}" class ="black-text">
            {% trans 'Servicio' %}
        </a>
    </li>
    <li>
        <a href="{% url 'cv' %}" class ="black-text">
            {% trans 'CV' %}
        </a>
    </li>
     <li>
        <a href="https://bit.ly/2UI0xYD" class ="black-text">
            {% trans 'Contacto' %}
        </a>
    </li>
    <li>
        <a href="{% url 'donacion' %}" class ="black-text">
            {% trans 'Donación' %}
        </a>
    </li>
    <li>
        <a href="{% url 'locacion' %}" class ="black-text">
            <!-- {% trans 'Mapa' %} -->
            Ubicación
        </a>
    </li>
    <!-- <li><a href="{% url 'parser' %}" class="black-text">{% trans 'Mapa' %}</a></li> -->
    <li>
        <a href="{% url 'faqs' %}">
            FAQs
            <i class="material-icons right"></i>
        </a>
    </li>
</ul>

