<!-- Dropdown desktop structure -->
{% load i18n %}
<ul id="dd-informacion-desktop" class="dropdown-content">
    <li>
        <a href="/">
            Inicio
        </a>
    </li>
    <li>
        <a target="_blank" href="https://gesblog.herokuapp.com">
            Blog
        </a>
    </li>
    <!-- <li>
        <a href="{% url 'servicios' %}" >
            {% trans 'Servicio' %}
        </a>
    </li>
    <li>
        <a href="{% url 'foro' %}">
            {% trans 'Noticias IOT' %}
        </a>
    </li> -->
    <li>
        <a href="{% url 'cv' %}">
            {% trans 'CV' %}
        </a>
    </li>
     <li>
        <a href="https://bit.ly/2UI0xYD">
            {% trans 'Contacto' %}
        </a>
    </li>
    <li>
        <a href="{% url 'donacion' %}">
            {% trans 'Donación' %}
        </a>
    </li>
    <!-- <li>
        <a href="{% url 'locacion' %}">
          
            Ubicación
        </a>
    </li> -->
    <!-- <li><a href="{% url 'parser' %}" class="black-text">{% trans 'Mapa' %}</a></li> -->
    <li>
        <a href="{% url 'faqs' %}">
            FAQs
            <i class="material-icons right black"></i>
        </a>
    </li>
    <li>
        <a href="{% url 'comentarios' %}" class="white-text">
            {% trans 'Agenda' %}
        </a>
    </li>
</ul>

