{% load static %}
{% load i18n %}
<div class="container">
    <div class="row" id="servicios">
        <div class="col s12">
            <section class="cd-intro"><!-- cd-intro -->
                <h4 class="cd-headline loading-bar white-text" align="center">
                    
                        <span>{% trans 'Experiencia construyendo sistemas'%}</span>
                        <span class="cd-words-wrapper">
                            <b class="is-visible">{% trans 'SEGUROS'%} <i class="fa fa-shield-alt amber-text"> </i></b>
                            <b>{% trans 'de CALIDAD'%}</b>
                            <b>{% trans 'PERSONALIZADOS'%}</b>
                            <b>{% trans 'a tu ALCANCE'%}</b>
                        </span>
                   
                </h4>
            </section> <!-- cd-intro -->
        </div>
    </div>
    <!-- <div class="row">
        <div class="col s12 m4 center hide-on-small-only">
            <div class="col s12 m12">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header  lime-text black">
                            
                            <i class="fa fa-film-alt lime-text "> </i>
                         
                        </div>
                        <div class="collapsible-body amber-text grey darken-4 " style="display: none;">
                                <div class="video-container">
                                        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                                      </div>
    
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header  lime-text black">
                            
                            <i class="fa fa-calendar-star lime-text"> </i>
                            
                        </div>
                        <div class="collapsible-body amber-text grey darken-4 " style="display: none;">
                            
    
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header  lime-text black">
                            
                            <i class="fa fa-shield-alt lime-text"> </i>
                            
                        </div>
                        <div class="collapsible-body amber-text grey darken-4 " style="display: none;">
                            Aquí puedes encontrar información sobre algunos proyectos en los que he participado y detalles sobre mi experiencia laboral<br><br>
                            <div class="row">
                                <div class="col s12 center">
                                    <a href="http://eberesquivel.com" class="btn black animate pulse amber" target="_blank">
                                       
                                    </a>
                                </div>
                            </div>
    
                        </div>
                    </li>
            </ul></div>
        </div> -->
        
    </div>
</div>