{% load staticfiles %}

<!-- Importante agregar el UL de DropDown para que la version de movil pueda abrirse -->

<nav role="navigation">
   

    <div class="nav-wrapper container">
    
    <!-- <ul id="nav-mobile" class="side-nav">
    <li><a class="black-text" href="/">l</a></li>
    <li><a class="black-text" href="https://">Zrilae</a></li>
    <li><a class="black-text" href="http://spotgame.gq">SpotG-Agar.io</a>
    </li>
  
  
</ul> -->

{% include 'components/navbar/desktop/navbar_desktop.html' %}
{% include 'components/navbar/mobile/navbar_mobile.html' %}
    </div>
</nav>
