{% load staticfiles %}
{% load i18n %}
{% load social_url %}
<!-- Importante agregar el UL de DropDown para que la version de movil pueda abrirse -->
{% include 'components/navbar/mobile/dropdown/dropdown_informacion.html' %}
{% include 'components/navbar/mobile/dropdown/dropdown_foro.html' %}

<!-- NAVBAR movil -->
<ul id="nav-mobile" class="side-nav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{% static 'img/fondo_sidebar.png' %}">
            </div>
            <img class="circle" src="{% static 'img/eber.jpg' %}">
            <span class="white-text name">Eber Raziel</span>
            <span class="white-text name">contacto@eberesquivel.com</span>
        </div>
    </li>
    <li>
        <a class="dropdown-button" href="#!" data-activates="dd-informacion-mobile">
            <i class="material-icons">info_outline</i>
            {% trans 'Información' %}
            <i class="material-icons right">arrow_drop_down</i>
        </a>
    </li>
    <li><a href="{% facebook_url %}">
        <i class="material-icons">assignment_ind</i>
        Facebook</a>
    </li>
    <li>
        <a href="{% url 'comentarios' %}">
            <i class="material-icons">question_answer</i>
            {% trans 'Agenda' %}
        </a>
    </li>
    <li><a href="">
        <i class="material-icons">video_library</i>
        {% trans 'Canal YouTube' %}</a>
    </li>
    <li>
        <a class="dropdown-button" data-activates="dd-herramienta-desktop" class="dropdown-button white-text">
            
            <i class="material-icons">settings_applications</i>
            {% trans 'Herramientas' %}
            <i class="material-icons right">arrow_drop_down</i>
        </a>
    </li>
    <li>
        <a class="dropdown-button " href="#!" data-activates="dd-foro-mobile">
            <i class="material-icons">web</i>
            {% trans 'Sitios' %}
            <i class="material-icons right">arrow_drop_down</i>
        </a>
    </li>
    <li><a href="{% url 'faqs' %}">
        <i class="material-icons">content_paste</i>
        FAQs</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    
    <li><a class="subheader amber">{% trans 'Idioma' %}</a></li>
    <li {% if LANGUAGE_CODE == 'es' %} class="active" {% endif %}>
        <a id="mobile-lenguaje-es" class="black-text">
            <img src="{% static 'img/idiomas/es.png' %}">MX
        </a>
    </li>
    <li {% if LANGUAGE_CODE == 'en' %} class="active" {% endif %}>
        <a id="mobile-lenguaje-en" class="black-text">
            <img src="{% static 'img/idiomas/en.png' %}">EN
        </a>
    </li>
</ul>
<a data-activates="nav-mobile" class="button-collapse"><i class="material-icons white-text">menu</i></a>