{% load staticfiles %}
{% load math_filter %}
<tbody id="aumentos-pasivos" class="hide">
    {% for pasivo in lista_pasivos %}
        <tr>
            <td>
                <a class="clipboard btn-floating grey darken-4" data-clipboard-text="{{ pasivo.db_values }}">
                    <i class="material-icons">code</i>
                </a>
            </td>
            <td>{{ pasivo.attribute.id|multiply }}</td>
            <td>{{ pasivo.id }}</td>
            <td>{{ pasivo.max_lvl }}</td>
            <td>{{ pasivo.name }}</td>
            <td>{{ pasivo.type|upper }}</td>
            <td>{{ pasivo.attribute.description }}</td>
        </tr>
    {% endfor %}
</tbody>