{% load staticfiles %}
{% load math_filter %}
<tbody id="aumentos-activos" class="hide">
    {% for activo in lista_activos %}
        <tr>
            <td>
                <a class="clipboard btn-floating grey darken-4" data-clipboard-text="{{ activo.db_values }}">
                    <i class="material-icons">code</i>
                </a>
            </td>
            <td>{{ activo.attribute.id|multiply }}</td>
            <td>{{ activo.id }}</td>
            <td>{{ activo.max_lvl }}</td>
            <td>{{ activo.name }}</td>
            <td>{{ activo.type|upper }}</td>
            <td>{{ activo.attribute.description }}</td>
        </tr>
    {% endfor %}
</tbody>