{% extends 'components/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block contenido %}
    <div class="container">
        <div class="row center-align">
            <h4> {% trans 'Total de aumentos' %}: <b>178</b> </h4>
        </div>
        <div class="row">
            <div class="col s1 m1 hide-on-med-and-down">
                <img src="{% static 'img/augment/dwarf_npc.png' %}">
            </div>
            <div class="col s3 m2 center-align">
                <h5>{% trans 'Mostrar' %}:</h5>
                <h5 class="right-align">
                    <b><span id="mostrando">{% trans 'todos' %}</span></b>
                </h5>
            </div>
            <div class="col s1 m1">
                <img id="img-active" src="{% static 'img/augment/active.png' %}">
                <img id="img-chance"  src="{% static 'img/augment/chance.png' %}">
                <img id="img-passive" src="{% static 'img/augment/passive.png' %}">
            </div>
            <div class="col s6 m3 center-align">
                <div class="input-field col s12">
                    <select id="select-aumento" onchange="cambiarContenidoTabla()">
                      <option value="todos" selected>{% trans 'Todo' %}</option>
                      <option value="activos">{% trans 'Activo' %}</option>
                      <option value="chances">Chance</option>
                      <option value="pasivos">{% trans 'Pasivo' %}</option>
                    </select>
                </div>
            </div>
            <div class="col s12 m5 hide-on-med-and-down">
                <div class="card horizontal hoverable">
                  <div class="card-image">
                    <img src="{% static 'img/elfo_majestic.jpg' %}" class="responsive-img">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                        <p>
                            <b>¿{% trans  'Problemas'%}?</b>
                            {% blocktrans %}Envía un reporte para actualizar el contenido.{% endblocktrans %}
                        </p>
                    </div>
                    <div class="card-action black">
                      <a href="{% url 'reporte' %}" class="white-text">{% trans 'reportar' %}</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {% include 'google_anuncios/anuncio_1.html' %}
            </div>
        </div>
        <div class="row hide-on-med-and-down">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                      <img src="{% static 'img/banner_l2.jpg' %}">
                      <span class="card-title">
                          <a href="{% static 'files/atributos_de_aumentos_completo.txt' %}"
                             class="white-text">
                              {% trans 'Ver lista de atributos' %}!
                          </a>
                          <a href="{% static 'files/atributos_de_aumentos_completo.txt' %}"
                             id="descargar"
                             download
                             class="white-text">
                              <i class="material-icons vertical-align-center">file_download</i>
                              <strong>{% trans 'Descargar' %}</strong>
                          </a>
                      </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table class="highlight responsive-table centered scroll">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans 'ATRIBUTO' %}</th>
                            <th>ID</th>
                            <th>MAX_LVL</th>
                            <th>{% trans 'NOMBRE'%}</th>
                            <th>{% trans 'TIPO' %}</th>
                            <th>{% trans 'DESCRIPCION' %}</th>
                        </tr>
                    </thead>

                    {% include 'augment_calc/cuerpo_aumentos_todos.html' %}
                    {% include 'augment_calc/cuerpo_aumentos_activos.html' %}
                    {% include 'augment_calc/cuerpo_aumentos_chances.html' %}
                    {% include 'augment_calc/cuerpo_aumentos_pasivos.html' %}

                </table>
            </div>
        </div>
    </div>
{% endblock contenido %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/select-aumento.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/copiar_portapapeles.js' %}"></script>
{% endblock scripts %}