{% extends 'components/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head_scripts %}
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
	<script src="https://momentjs.com/downloads/moment-timezone-with-data.min.js"></script>
{% endblock head_scripts %}

{% block navbar %}
{% endblock navbar %}

{% block contenido %}
    <div class="container">
        <div class="card blue-grey darken-3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'img/faq.png' %}">
                    <span class="card-title"><h2><strong>Scheduled activities</strong></h2></span>
                </div>
            </div>
        </div>
        <h3 id="timezone" class="white-text"></h3>
        <table class="white-text">

        <thead>
          <tr>
              <th>Activity</th>
              <th>Date and time</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{ registro.titulo }}</td>
            <td id="fecha_hora"></td>
          </tr>

      </table>


      </div>
    </div>
{% endblock contenido %}

{% block footer %}
{% endblock footer %}

{% block scripts %}
    <script type="application/javascript">
        document.body.style.backgroundColor = "#263238";
    </script>
     <script type="application/javascript">
            var fecha_hora = "{{ registro.fecha_hora|date:'Y-m-d H:i:s' }}";
            var now = moment(fecha_hora).tz("America/Mexico_City");
	        var cliente = now.tz(moment.tz.guess(true));

	        document.getElementById("fecha_hora").innerHTML = cliente.format("DD-MM-YYYY HH:mm:ss");
	        document.getElementById("timezone").innerHTML = moment.tz.guess(true);
    </script>
{% endblock scripts %}