{% load i18n %}
{% load social_url %}

<footer class="page-footer teal grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h5 class="white-text">Eber Raziel Bio</h5>
                <p class="grey-text text-lighten-4">
                    {% blocktrans %}Apasionado por el desarrollo de aplicaciones IoT{% endblocktrans %}
                </p>
                <p class="grey-text text-lighten-4">
                    {% blocktrans %}Consultoría en proyectos de IoT,Desarrollo de sistemas bajo normas de calidad,Implementación de proyectos de infraestructura basada en IoT,Despliegue de sistemas en la nube{% endblocktrans %}
                </p>
            </div>
                <div class="col s12 m3 l3">
                <h5 class="white-text">{% trans 'Contacto' %}</h5>
                <ul>
                    <li><a class="white-text" href="{% facebook_url %}">Facebook</a></li>
                    <li><a class="white-text"
                           href="https://www.youtube.com/channel/">Youtube</a></li>
                    <li>
                        <a class="white-text" href="http://eberesquivel.com">
                            {% trans 'Foro' %}
                        </a>
                    </li>
                </ul>
                
                <div class="g-ytsubscribe"
                     data-channelid="UCkU5mSnmxRZpSyEOIlS95gA"
                     data-userid="kU5mSnmxRZpSyEOIlS95gA"
                     data-layout="full"
                     data-count="hidden"
                     data-onytevent="onYtEvent">
                </div>
                <!-- CODIGO BOTON GITHUB SEGUIR -->
                <a class="github-button" href="https://github.com/eberesquivel" aria-label="Follow @eberesquivel on GitHub">Sigue @eberesquivel</a>
                <!-- CODIGO BOTON GITHUB SEGUIR -->
                <!-- CODIGO BOTON TWITTER SEGUIR -->
                <a href="https://twitter.com/zralei?ref_src=twsrc%5Etfw"
                   class="twitter-follow-button"
                   data-show-count="false">Follow @zrilae
                </a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <!-- CODIGO BOTON TWITTER SEGUIR -->
            </!--div>
            <div class="col s12 m3 l3">
                <h5 class="white-text">{% trans 'Redes sociales' %}</h5>
                <!--ul>
                  <li><a class="white-text" href="#!">Link 1</a></li>
                  <li><a class="white-text" href="#!">Link 2</a></li>
                  <li><a class="white-text" href="#!">Link 3</a></li>
                  <li><a class="white-text" href="#!">Link 4</a></li>
                </ul-->
                <!-- CODIGO PAGINA FACEBOOK -->
                <div class="fb-page"
                     data-href="{% facebook_url %}"
                     data-small-header="false"
                     data-adapt-container-width="true"
                     data-hide-cover="false"
                     data-show-facepile="true">
                    <blockquote cite="{% facebook_url %}" class="fb-xfbml-parse-ignore">
                        <a href="{% facebook_url %}">zralei</a>
                    </blockquote>
                </div>
                <!-- CODIGO BOTON LIKE FACEBOOK -->
                <br>
                <div class="fb-like"
                     data-href="{% facebook_url %}"
                     data-layout="button"
                     data-action="like"
                     data-size="large"
                     data-show-faces="true"
                     data-share="true"
                     data-colorscheme="dark">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            {% trans 'Hecho con' %}
            <a class="brown-text text-lighten-3" href="http://eberesquivel.com \n"> <i class="far fa-cannabis"></i></a>
        </div>
    </div>

</footer>