{% load i18n %}
{% load staticfiles %}
{% load social_url %}
<footer class="page-footer ">
    <div class="container">


        <div class="rounded-social-buttons"><a class="social-button facebook"
            href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
             <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i
                class="fab fa-twitter"></i></a> <a class="social-button linkedin"
            href="https://www.linkedin.com/in/eberesquivel" target="_blank"><i
                class="fab fa-linkedin"></i></a> <a class="social-button youtube"
            href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a> <a
            class="social-button instagram" href="https://www.github.com/eberesquivel"
            target="_blank"><i class="fab fa-github"></i></a>
        </div>
        <div class="row">
            <div class="col s12 m6 l6">
                <h5>Eber Raziel Bio</h5>
                <p>Passionate about the development of IoT applications</p>
                <p>Consultancy in IoT projects, Development of systems under quality standards, Implementation of
                    infrastructure projects based on IoT, Deployment of systems in the cloud</p>
            </div>
            <div class="col s12 m3 8">
                <h5></h5>
                <ul>
                    <li>
                        
                    </li>
                </ul>
            </div>
            <div class="col s12 m3 8">
                <h5>lINKS</h5>
                <ul>
                    <li>
                        
                    </li>
                </ul>
            </div>
        </div>
       
       
    </div>
</footer>