{% load i18n %}
{% load social_url %}

<footer class="page-footer ">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h5 class="white-text">Eber Raziel Bio</h5>
                <p class="grey-text text-lighten-4">
                    {% blocktrans %}Apasionado por el desarrollo de aplicaciones IoT{% endblocktrans %}
                </p>
                <p class="grey-text text-lighten-4">
                    {% blocktrans %}Consultoría en proyectos de IoT,Desarrollo de sistemas bajo normas de calidad,Implementación de proyectos de infraestructura basada en IoT,Despliegue de sistemas en la nube{% endblocktrans %}
                </p>
            </div>
            <div class="col s12 m3 l3">
                <h5 class="white-text">{% trans 'Contacto' %}</h5>
                <ul>
                    <li><a class="white-text" href="{% facebook_url %}">Facebook</a></li>
                    <li><a class="white-text"
                           href="https://www.youtube.com/channel/">Youtube</a></li>
                    <li>
                        <a class="white-text" href="http://gesblog.herokuapp.com">
                            {% trans 'Foro' %}
                        </a>
                    </li>
                </ul>
     
             </div>

        <div class="col s12 m3 l3">
        <h5 class="white-text">{% trans 'Redes sociales' %}</h5>
        <ul>
          <li><div class="g-ytsubscribe"
                     data-channelid="kU5mSnmxRZpSyEOIlS95gA"
                     data-layout="default"
                     data-count="default"
                     data-onytevent="onYtEvent">
                </div></li>
          <li><a class="github-button" href="https://github.com/eberesquivel" aria-label="Follow @eberesquivel on GitHub">Sigue @eberesquivel</a> </li>

          <li><a href="https://twitter.com/zralei?ref_src=twsrc%5Etfw"
            class="twitter-follow-button"
            data-show-count="false">Follow @zrilae
         </a>
         <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
          
        </ul>
        
         </div>
    
    </div>
    <div class="container blue"><div class="rounded-social-buttons">
        <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
        <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div></div>

</footer>

