{% extends 'components/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load social_url %}
{% block contenido %}

    <!-- Breadcrumb -->
    <nav>
        <div>
            <div class="col s12">
                <a href="{% url 'inicio' %}" class="breadcrumb"><i class="fa fa-home blue" aria-hidden="true"></i>
                </a>
                <a href="{% url 'cv' %}" class="breadcrumb">{% trans 'CV' %}</a>
            </div>
        </div>
    </nav>
    <!-- FIN Breadcrumb -->
    <canvas id="myCanvas" width="480px" height="320px"></canvas>
 
{% endblock contenido %}