
{% extends 'components/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block meta %}
<head>
   
    
    <link rel="stylesheet" href="{% static 'css/cv.css' %}">
</head>
    <meta property="og:title"       content="Métodos de pago" />
    <meta property="og:description" content="Pagos seguros y rápidos, información relacionada a los métodos de pago"/>
{% endblock meta %}
{% block contenido %}
    <!-- Breadcrumb -->
    <nav>
        <div>
            <div class="col s12">
              <a href="{% url 'inicio' %}" class="breadcrumb"><a href="{% url 'cv' %}" class="breadcrumb"> Curriculum 
              </a>
      
            </div>
        </div>
    </nav>
    <!-- FIN Breadcrumb -->
    <div class="resume">
        <div class="base">
          <div class="profile">
            <div class="photo">
              <!--<img src="" /> -->
              <img class="responsive-img" src="/static/img/eber.jpg">
            </div>
            <div class="info">
              <h1 class="name">Eber Raziel</h1>
              <h2 class="job">{% trans 'Ingeniero en Sistemas Computacionales'%}</h2>
            </div>
          </div>
          <div class="about">
            <h3>{% trans 'Acerca de mi'%}</h3>{% trans 'Implementador de soluciones IoT'%} 
          </div>
          <div class="contact">
            <h3>{% trans 'Contacto'%}</h3>
            <div class="call"><a href="tel:"><i class="fas fa-phone"></i><span></span></a></div>
            <div class="address"><a href=""><i class="fas fa-map-marker"></i><span>{% trans 'CDMX, México'%} </span></a>
            </div>
            <div class="website"><a href="https://eberesquivel.pythonanywhere.com" target="_blank"> <i class="fas fa-home"></i><span>eberesquivel.pythonanywhere.com</span></a></div>
          </div>
          <div class="follow">
            <h3>{% trans 'Redes sociales'%}</h3>
            <div class="box">
              <a href="https://www.facebook.com/zralei/" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="https://www.instagram.com/zralei/" target="_blank"><i class="fab fa-instagram "></i></a>
              <a href="https://www.github.com/eberesquivel/" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/in/eberesquivel/" target="_blank"><i class="fab fa-linkedin"></i></a>
              <a href="https://codepen.io/eberesquivel/" target="_blank"><i class="fab fa-codepen"></i></a>
              <a href="https://www.behance.net/" target="_blank"><i class="fab fa-behance"></i></a>
            </div>
          </div>
        </div>
        <div class="func">
          <div class="work">
            <h3><i class="fa fa-briefcase"></i>{% trans 'Experiencia'%}</h3>
            <ul>

              <!-- freelance -->
              <li>
                <span>{% trans 'Implementador de Sistemas IoT'%}</span>
                <small>Independiente</small><small>{% trans 'Enero 2015 - Actualmente'%}</small>
               
                <span>{% trans 'Diseño, programación e instalción de sistemas embebidos'%}</span><br>
                <span>{% trans 'Telemetría residencial'%}</span><br>
                <span>{% trans 'Programación de firmware , microcontroladores y diversas placas de desarrollo'%}</span><br>
                <span>{% trans 'ARM,ESP8266, ESP32,PIC, Arduino, MQTT'%}</span><br>
                <span>{% trans 'Configuración plataformas middleware para visualización de datos'%}</span><br>
                <span>{% trans 'Implementación y soporte a infraestructura AC/DC'%}</span><br>
                <span>{% trans 'Programación de sistemas en tiempo real basados en webservers'%}</span><br>
                <span>{% trans 'Instalación de redes LAN'%}</span><br>
                <span>{% trans 'Programación  y control de puntos finales por sensor de voz'%}</span><br>
                <span>{% trans 'Desarrollo de sistemas Domóticos'%}</span><br>

              </li>


              <!-- root -->
              
              <li>
                <span>{% trans 'Analista de Sistemas'%}</span>
                <small>Root Technologies</small>
                <small>{% trans 'Enero 2014 - Diciembre 2014'%}</small>
              
                <span>{% trans 'Gestión de proyectos'%}</span><br>
                <span>{% trans 'Análisis de información & reportes'%}</span><br> 
                <span>{% trans 'Levantamiento de requerimientos - funcionales y no funcionales'%}</span><br>
                <span>{% trans 'Soporte en sitio a cliente en proyectos asignados (CISEN - PGR - UIF - IMSS)'%}</span><br>
                <span>{% trans 'Coordinar la comunicación entre stakeholders'%}</span><br>
                <span>{% trans 'Aplicación de metodologías ágiles (Scrum-Crystal Clear)'%}</span><br>
                <span>{% trans 'Control de cambios'%}</span><br>
                <span>{% trans 'Diseño de casos de uso'%}</span><br>
                <span>{% trans 'Maquetación web'%}</span><br>
                <span>{% trans 'Apoyo a instalación de infraestructura en sitios remotos para proyectos de teleprecencia'%}</span><br>
                <span>{% trans 'Coordinación y apoyo para ejecución de pruebas en sistemas'%}</span><br>
              
              
              
              </li>
              
              <!-- fordcredit -->
              <li>
                <span>{% trans 'Analista IT'%}</span>
                <small>Ford Credit</small>
                <small>{% trans 'Enero 2012 - Diciembre 2012'%}</small>
              
              
                <span>{% trans 'Administración y soporte recursos informáticos'%}</span><br>
                <span>{% trans 'Soporte a usuarios y seguimiento de tickets (mesa de ayuda)'%}</span><br> 
                <span>{% trans 'Control de seguridad a acceso de sistemas locales FCM'%}</span><br>
                <span>{% trans 'Reporte de cartera de clientes de FCM a Buró de Crédito'%}</span><br>
                <span>{% trans 'Análisis , documentación, reportes'%}</span><br>
                <span>{% trans 'Apoyo el aplicación de procesos BCP y DRP en área de IT'%}</span><br>
                <span>{% trans 'Entrega efectiva de resultados en tiempo y forma'%}</span><br>
                <span>{% trans 'Garantizar el correcto funcionamiento de los procesos asignados'%}</span><br>
                <span>{% trans 'Implementar  sistema de carga vía FTP  cartera Buró de Credito'%}</span><br>
               
              
              
              
              
              
              
              
              </li>
            </ul>
          </div>
          <div class="edu">
            <h3><i class="fa fa-graduation-cap"></i>{% trans 'Educación'%}</h3>
            <ul>
              <li><span>Universidad del Valle de México<br>{% trans 'Ingeniero en Sistemas Computacionales'%}</span><small>{% trans 'CDMX,México'%}</small><small>{% trans 'Ago. 2009 - Dic. 2014'%}</small></li>
              <li><span>{% trans 'Cédula profesional'%}<br>9208591</span><small>{% trans 'CDMX,México'%}</small><small>2015</small></li>
            </ul>
          </div>
          <div class="skills-prog">
            <h3><i class="fas fa-code"></i>{% trans 'Desarrollo'%}</h3>
            <ul>
              <li data-percent="95"><span>HTML5</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="90"><span>CSS3 & SCSS</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="60"><span>JavaScript</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="70"><span>JavaSE</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="20"><span>JavaEE</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="60"><span>C/C++</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="60"><span>Python</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="50"><span>MongoDB</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="70"><span>MySQL</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="40"><span>Django RESTFramework</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="40"><span>flask REST API</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="50"><span>Angular</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="50"><span>Ionic</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="50"><span>NodeJS</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="40"><span>MEAN</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="50"><span>XAMPP</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="40"><span>Firebase</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="10"><span>Colab</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
            </ul>
          </div>
          <div class="skills-soft">
            <h3><i class="fas fa-bezier-curve"></i>Software</h3>
            
            <ul>
              <li data-percent="60">
                <svg viewbox="0 0 100 100">
                  <circle cx="50" cy="50" r="45"></circle>
                  <circle class="cbar" cx="50" cy="50" r="45"></circle>
                </svg><span>{% trans 'Nube'%}</span><small></small>
              </li>
              <li data-percent="75">
                <svg viewbox="0 0 100 100">
                  <circle cx="50" cy="50" r="45"></circle>
                  <circle class="cbar" cx="50" cy="50" r="45"></circle>
                </svg><span>{% trans 'Gestión de proyectos'%}</span><small></small>
              </li>
              <li data-percent="70">
                <svg viewbox="0 0 100 100">
                  <circle cx="50" cy="50" r="45"></circle>
                  <circle class="cbar" cx="50" cy="50" r="45"></circle>
                </svg><span>FronEnd</span><small></small>
              </li>
              <li data-percent="65">
                <svg viewbox="0 0 100 100">
                  <circle cx="50" cy="50" r="45"></circle>
                  <circle class="cbar" cx="50" cy="50" r="45"></circle>
                </svg><span>{% trans 'Telemetría'%}</span><small></small>
              </li>
            </ul>
            <ul>
              <li data-percent="70">
                <svg viewbox="0 0 100 100">
                  <circle cx="50" cy="50" r="45"></circle>
                  <circle class="cbar" cx="50" cy="50" r="45"></circle>
                </svg><span>Firmware</span><small></small>
              </li>
              <li data-percent="25">
                <svg viewbox="0 0 100 100">
                  <circle cx="50" cy="50" r="45"></circle>
                  <circle class="cbar" cx="50" cy="50" r="45"></circle>
                </svg><span>Big Data</span><small></small>
              </li>
              <li data-percent="45">
                <svg viewbox="0 0 100 100">
                  <circle cx="50" cy="50" r="45"></circle>
                  <circle class="cbar" cx="50" cy="50" r="45"></circle>
                </svg><span>BackEnd</span><small></small>
              </li>
              <li data-percent="10">
                <svg viewbox="0 0 100 100">
                  <circle cx="50" cy="50" r="45"></circle>
                  <circle class="cbar" cx="50" cy="50" r="45"></circle>
                </svg><span>Machine & Deep Learning</span><small></small>
              </li>
            </ul>
          </div>
          <div class="interests">
            <h3><i class="fas fa-star"></i>{% trans 'Intereses'%}</h3>
            <div class="interests-items">
              <div class="art"><i class="fas fa-palette"></i><span>{% trans 'IA'%}</span></div>
              <div class="art"><i class="fas fa-book"></i><span>{% trans 'Aprendizaje'%}</span></div>
              <div class="movies"><i class="fas fa-music"></i><span>{% trans 'Entretenimiento'%}</span></div>
              <div class="music"><i class="fas fa-code-branch"></i><span>{% trans 'Desarrollo Full Stack'%}</span></div>
              <div class="games"><i class="fas fa-cloud-download"></i><span>{% trans 'Nube'%}</span></div>
            </div>
          </div>
        </div>
      </div>
    {% endblock contenido %}
