{% extends 'components/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block contenido %}
    <!-- Breadcrumb -->
    <nav class="grey darken-4">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{% url 'inicio' %}" class="breadcrumb"><a href="{% url 'inicio' %}" class="breadcrumb"><i class="fa fa-home blue" aria-hidden="true"></i>
                </a>
                <a href="{% url 'cv' %}" class="breadcrumb">{% trans 'FAQs' %}</a>
            </div>
        </div>
    </nav>
    <!-- FIN Breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col s12 m8">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/faq.png' %}">
                        <span class="card-title"><strong>Preguntas frecuentes</strong></span>
                    </div>
                    <div class="card-content">
                        <div class="collection">
                            <a href="http://eberesquivel.com" target="_blank" class="collection-item black-text">¿Quién soy?</a>
                            <a href="http://eberesquivel.com" target="_blank" class="collection-item black-text">¿Cuál es la forma de trabajo?</a>
                            <a href="{% url 'pago' %}" target="_blank" class="collection-item black-text">¿Qué métodos de pago hay disponibles?</a>
                            <a href="{% url 'comentarios' %}" target="_blank" class="collection-item black-text">¿Qué han opinado otros clientes?</a>
                            <a href="https://www.messenger.com/t/zralei" target="_blank" class="collection-item black-text">¿Cómo contactar?</a>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.messenger.com/t/zralei" target="_blank" class="btn black white-text">Contratar</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 hide-on-med-and-down">
                <img src="{% static 'img/reynaldev.png' %}" class="responsive-img">
            </div>
        </div>
    </div>
{% endblock contenido %}
