{% extends 'components/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head_scripts %}
    <link rel="stylesheet" href="{% static 'css/animated_header.css' %}">
{% endblock head_scripts %}

{% block contenido %}
 

    {% include 'promocion/crear_server.html' %}
    {% include 'servicios/servicios.html' %}

  
  
  <!--   <div class="container">

            <div class="row">
                <div class="col s12 center">
                    <a href="{% url 'pago' %}" class="btn btn-large waves-effect waves-teal grey darken-4">
                        <i class="material-icons left">visibility</i>
                        {% trans 'Ver más...' %}
                    </a>
                </div>
            </div>

        </div>
    </div> -->

    <iframe id="ytplayer" type="text/html" width="720" height="405"
    src="https://www.youtube.com/embed/M7lc1UVf-VE"
    frameborder="0" allowfullscreen>
  

    <div class="fixed-action-btn" id="btn-ir-arriba" hidden>
        <a class="btn-floating amber">
            <i id="boton-nav" class="material-icons animated  amber">navigation</i>
        </a>
    </div>
    
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/donar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/animated_header.js' %}"></script>
    
{% endblock scripts %}