{% extends 'components/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head_scripts %}
    <link rel="stylesheet" href="{% static 'css/animated_header.css' %}">
{% endblock head_scripts %}

{% block contenido %}
 

    {% include 'promocion/crear_server.html' %}
    {% include 'servicios/servicios.html' %}

  
   
  <!-- Breadcrumb -->
<nav class="grey darken-4">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{% url 'inicio' %}" class="breadcrumb">
                <a href="{% url 'inicio' %}" class="breadcrumb"><i class="fa fa-home blue" aria-hidden="true"></i>
                </a>
           <!--  <a href="{% url 'cv' %}" class="breadcrumb">
                {% trans 'Servicios' %}
            </a> -->
        </div>
    </div>
</nav>
<!-- FIN Breadcrumb -->

 <!-- Navbar goes here -->

    <!-- Page Layout here -->
   
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/donar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/animated_header.js' %}"></script>
    
{% endblock scripts %}