{% extends 'components/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block meta %}
    <meta property="og:url"         content="https://reynaldev.pythonanywhere.com/pago" />
    <meta property="og:image"       content="http://reynaldev.pythonanywhere.com/static/img/og/paypal_logo.png"/>
    <meta property="og:title"       content="ReynalDev - Métodos de pago" />
    <meta property="og:description" content="Pagos seguros y rápidos, información relacionada a los métodos de pago"/>
{% endblock meta %}
{% block contenido %}
    <!-- Breadcrumb -->
    <nav class="grey darken-4">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{% url 'inicio' %}" class="breadcrumb">{% trans 'Página principal' %}</a>
                <a href="{% url 'pago' %}" class="breadcrumb">{% trans 'Pago' %}</a>
            </div>
        </div>
    </nav>
    <!-- FIN Breadcrumb -->
    <div class="container">
        <br>
        <div class="row center">
            <img src="{% static 'img/garantia.png' %}" class="responsive-img">
        </div>
        <h4 class="center">{% trans 'Condiciones'%}</h4>
        <ul class="collection">
            <li class="collection-item">{% trans 'El pago deberá ser confirmado antes de realizar cualquier tipo de servicio'%}
                (ver <a href="#metodos_de_pago">{% trans 'Métodos de pago'%})</a>.
            </li>
            <li class="collection-item">{% trans 'Toda consulta causa honorarios'%}
            </li>
        </ul>


        <h4 class="center" id="metodos_de_pago">
            {% trans 'Métodos de pago' %}
        </h4>
        <div class="row">
            <div class="col s12 m4 hide-on-small-only">
                <img src="{% static 'img/ring_baium.png' %}">
            </div>
            <div class="col s12 m8">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">verified_user</i>Paypal</div>
                        <div class="collapsible-body">
                           {% trans 'Paypal ofrece un pago seguro al utilizar el saldo de la cuenta Paypal.No es necesario tener saldo en la cuenta Paypal para hacer un pago, puede utilizar la tarjeta vinculada a su cuenta Paypal. De esta forma Paypal actúa como intermediario, Paypal hará el pago al hacer el cobro a la tarjeta.Si quiere hacer un pago de 5 USD y no tiene saldo en su cuenta Paypal, entonces puede usar su tarjeta de crédito o débito para efectuar el pago. Paypal hará un cargo a su tarjeta del mismo monto, es decir, 5 USD (para este ejemplo).' %} 

                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">payment</i>Visa</div>
                        <div class="collapsible-body">
                           {% trans 'Solo debe proporcionar una dirección de correo electrónico válido donde recibirá un email, rellenará un formulario y se hará el cargo respectivo a su tarjeta.' %} 
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">payment</i>MasterCard</div>
                        <div class="collapsible-body"> {% trans 'Solo debe proporcionar una dirección de correo electrónico válido donde recibirá un email, rellenará un formulario y se hará el cargo respectivo a su tarjeta.' %} 
      
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">add_shopping_cart</i>OXXO Pay</div>
                        <div class="collapsible-body">  {% trans 'Próximamente!' %} 
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">business</i>
                            BBVA Bancomer <b>{% trans '(SOLO MÉXICO)' %}</b>
                        </div>
                        <div class="collapsible-body">
                           {% trans 'Mediante una transferencia bancaria del mismo banco y país (en este caso México) o depósito al número de cuenta.' %} 
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock contenido %}
