{% extends 'components/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block contenido %}
    <!-- Breadcrumb -->
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{% url 'inicio' %}" class="breadcrumb"><a href="{% url 'phaser' %}" class="breadcrumb"><i class="fa fa-home blue" aria-hidden="true"></i>
                </a>

            </div>
        </div>
    </nav>
    <div class="parallax"> <iframe width="100%" height="100%" src="https://eberesquivel.github.io/juegophaser-html5/"></iframe>
    </div>
{% endblock contenido %}

