{% extends 'components/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block contenido %}
    <!-- Breadcrumb -->
    <nav>
        <div>
            <div class="col s12">
                <a href="{% url 'inicio' %}" class="breadcrumb"><a href="{% url 'phaser' %}" class="breadcrumb"> Juego PhaserJS                </a>
      
            </div>
        </div>
    </nav>
    <iframe width="1920px" height="900px" src="https://eberesquivel.github.io/juegophaser-html5/" frameborder="0"></iframe>
    
{% endblock contenido %}

