{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}
{% block contenido %}
    <!-- Breadcrumb -->
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{% url 'inicio' %}" class="breadcrumb"><i class="fa fa-home blue" aria-hidden="true"></i><a href="{% url 'servicios' %}" class="breadcrumb">  {% trans 'Servicios' %}
                </a>
               <!--  <a href="{% url 'cv' %}" class="breadcrumb">
                    {% trans 'Servicios' %}
                </a> -->
            </div>
        </div>
    </nav>
    <!-- FIN Breadcrumb -->
    <div class="container">
        <div class="section">
        </div>
    </div>

{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
{% endblock %}