<!-- Dropdown mobile structure -->

{% load i18n %}
<ul id="dd-foro-mobile" class="dropdown-content">
    <li>
        <a href="{% url 'foro' %}">
            <i class="material-icons">person_pin_circle</i>
            Eber Raziel
        </a>
    </li>
    <li>
        <a href="http://spotgangular.gq/">
            <i class="material-icons">apps</i>
            SPA Angular
        </a>
    </li>
    <li>
        <a href="https://spotgagar.herokuapp.com/">
            <i class="material-icons">gamepad</i>
            SpotG-Agar.io
        </a>
    </li>
    <li>
        <a href="http://zrilae.pythonanywhere.com">
            <i class="material-icons">map</i>
             Flask
        </a>
    </li>
    <li>
        <a href="https://spotgagar.herokuapp.com/">
            <i class="material-icons">gamepad</i>
             Flask
        </a>
    </li>
</ul>